<div class="row container gap-4">
  <div class="col-4 border border-2 border-primary">
    <input
      class="form-control my-4 bg-light"
      type="text"
      placeholder="introduce un texto"
      [(ngModel)]="frase"
    />
    <p class="fs-3 text-success">text : {{ frase | uppercase }}</p>
  </div>

  <div class="col-4 border border-2 border-primary">
    <select
      class="form-control border border-3 my-4 bg-light"
      name="select"
      [(ngModel)]="valor"
    >
      <option value="PEN">Soles</option>
      <option value="EUR">Euros</option>
      <option value="USD">Dolar</option>
    </select>
    <p class="fs-3 text-success">{{ 2 | currency : valor }}</p>
  </div>
  <div class="col-4 border border-2 border-primary">
    <input
      type="text"
      class="form-control my-4 bg-light"
      placeholder="ingresa texto"
      [(ngModel)]="tiempoPasado"
    />
    <button class="btn btn-dark text-light" (click)="calcular()">
      Calcular
    </button>
    <p class="fw-400 fs-4">res :{{ resp.segundos }} seconds ago</p>
    <p class="fw-400 fs-4">res :{{ resp.minutos }} minutes ago</p>
    <p class="fw-400 fs-4">res :{{ resp.horas }} hours ago</p>
    <p class="fw-400 fs-4">res :{{ resp.dias }} days ago</p>
    <p class="fw-400 fs-4">res :{{ resp.semanas }} weeks ago</p>
  </div>
</div>
